.content {
    flex: 1;
    margin: 20px;
}

footer {
    background-color: var(--background-color-footer);
    color: var(--text-color-oscuro-footer);
    padding: 0.35rem;
    font-weight: bold;
    font-size: .8rem;
    font-family: sans-serif;
    letter-spacing: -0.2px;
}

footer a {
    color: var(--text-color-claro-footer);
    transition: color 0.3s ease;
}
footer a:hover {
    color: var(--text-color-hover-footer);

}

footer svg {
    width: 1.5rem;
    height: 1.5rem;
}
footer svg path {
    fill: var(--text-color-claro-footer);
    transition: fill 0.3s ease;
}
footer svg:hover path {
    fill: var(--text-color-hover-footer);
}

.social-icons a {
    margin-left: 10px;
    text-decoration: none;
}
.foot-claro {
    color: var(--text-color-claro-footer);
}

.foot-info {
    display: flex;
    align-items: center;
    margin: auto .8rem;
    justify-content: space-between;
}

.foot-text {
    line-height: 0.6;
    text-align: left;
}

@media (max-width: 768px) {
    .foot-info {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-icons {
        margin-top: 10px;
        justify-content: center;
    }

    .social-icons a {
        margin-left: 5px;
    }
}
