body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
	background-color: #0c1116;
	color: #f0f6fc;
}

h1 {
    font-size: 40px;
}

#mi-parrafo {
    font-size: 20px;
    color: #C1C1C1;
}

#img-git {
	width: 100%;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
	color #f0f6fc;
}
