:root {
    --text-color: #f1f6fd;
    --background-color: #1e2129;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    letter-spacing: -0.2px;
}

.content {
    flex: 1;
    margin: 20px;
}

h1 {
    font-size: 50px;

}
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.button {
    flex: 1 1 240px;
    background-color: #212830;
    border: none;
    height: 50px;
    line-height: 50px;
    color: var(--text-color);
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 29px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: 3px solid #3d444d;
}
.button:hover {
    background-color: #3d444d;
    border-color: #3d444d;
}

footer {
    background-color: #111317;
    color: #ffffff63;
    padding: 0.35rem;
    font-weight: bold;
    font-size: .8rem;
}

footer a {
    color: #ffffff9a;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #f1f6fd;

}

svg {
    width: 1.2rem;
    height: 1.2rem;
}
svg path {
    fill: #9098a0;
    transition: fill 0.3s ease;
}
svg:hover path {
    fill: #f1f6fd;
}

.social-icons a {
    margin-left: 10px;
    text-decoration: none;
}
.foot-claro {
    color: #ffffff9a;
}

.foot-info {
    display: flex;
    align-items: center;
    margin: auto .8rem;
    justify-content: space-between;
}

.foot-text {
    line-height: 0.6;
    text-align: left;
}

@media (max-width: 768px) {
    .foot-info {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .footer-icons {
        margin-top: 10px;
        justify-content: center;
    }
}